
body{
    background-color: rgb(35, 35, 35);
    color: white;
    max-width: 50%;
    margin: 40px;
}

.menu-links,a{
    margin-right: 50px;
    background-color: gray;
}
/*
h1, h3 {
    text-align: center;
  }

h3{
    margin-left: 230px;
}

h3, li{
    display: inline-block;
}

body{
    width: 700px;
}

  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    display: block;
    margin-left: 200px;
  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
  }

  */