h1 {
    width: 65;
    color: orange;   
    font-family: sans-serif            
    ;        
}
ul {
    background-color: lightblue;
    font-weight: bold;
}
.lista-arvore-style{
    background-color: rgb(92, 138, 199);

}
body{
    font-size: 16px;
    background-color: gray;
    text-align: center;
}
p{
    font-weight: 600;
    font-size: 3em;
}
#am-id{
    color: yellow;
}
#vm-id{
    color: red;
}
#mr-id{
    color: brown;
}